@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424; 
  color-scheme: light dark;
  --primary-color: rgb(15, 102, 232); 
  --text-color: white;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  border-radius: 5px; 
}

.search-bar button {
  background-color: var(--primary-color); 
  color: var(--text-color); 
  padding: 1rem;
}

.input-container input {
  font-size: 2rem;
  color: var(--text-color); 
  background-color: #1c1c1d; 
  padding: 1rem;
}

.search-bar ul {
  position: absolute; 
  top: 5rem; 
  background-color: #1c1c1d; 
}

.search-bar ul li {
  padding: 1rem; 
  cursor: pointer; 
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  background-color: var(--primary-color); 
  color: var(--text-color); 
  padding: 10px; 
}

.pagination button:disabled {
  opacity: 0.5; 
}

.pagination span {
  color: var(--text-color); 
}
