@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,0");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgb(15, 102, 232);
  --text-color: white;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.search-bar button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1rem;
}

.input-container input {
  font-size: 2rem;
  color: var(--text-color);
  border: none;
  background-color: #1c1c1d;
  padding: 1rem;
}

.input-container input:focus {
  outline: none;
}

.search-bar ul {
  width: 100%;
  list-style: none;
  background-color: #1c1c1d;
  border-radius: 5px;
  font-size: 2rem;
  color: var(--text-color);
  overflow: hidden;
  position: absolute;
  top: 5rem;
}

.search-bar ul li {
  padding: 1rem;
  cursor: pointer;
}

.search-bar ul li:hover {
  background-color: var(--primary-color);
}

.input-container span {
  color: var(--text-color);
  padding: 1rem;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
  gap: 20px; /* Espace entre les éléments */
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  color: var(--text-color);
  font-size: 1.2rem;
}
