*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, .container {
    height: 100%;
}

header, footer, .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

header {
    flex-direction: column;
}

footer {
    position: sticky;
    height: 50px;
    bottom: 0;
    background-color: #242424;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.movies article {
    width: calc(20% - 10px);
    height: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #fff;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    border: 3px solid #fff;
}

.desc {
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.pages button, .pages span {
    font-size: 1.3rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.logo-image {
    width: 150px;
    height: auto;
    margin-right: 10px;
}
